<%= render 'layouts/header' %>
<div class= "container">
<div class="jumbotron">
  This site was designed for the Squaw Valley Ski Patrol Dog Program. With special thanks to @joshhunt for his codepen <a href="http://codepen.io/joshhunt/pen/LVQZRa" class="thanks">Pure CSS Netflix Video Carousel</a> and Adobe Web Platform for the pen <a href="http://codepen.io/adobe/pen/d056d1b26b9683c018f9bb9e0f1b0e1c" class="thanks">Frosted Glass Effect Using Filter Effects</a>
</div>
</div>
<%= render 'layouts/footer' %>
