<%= render 'layouts/header' %>
<div class= "container">
<div class="jumbotron">
  This site was designed for the Squaw Valley Ski Patrol Dog Program. Contact the site administrator if you are having problems.
</div>
</div>
<%= render 'layouts/footer' %>
