<%= render "layouts/header" %>
<div class="trooper_image">
<%= image_tag "media_meet-trooper.jpg", class:"img-responsive", id: "trooper-donate"
 %>
 <span>Donate</span>
</div>

 <div class="container">
                <h4 style="padding-top: 0pt; " >Squawdogs appreciates your support. <br /></h4>
                <p class="Body"><br /></p>
                <p class="Body">Please find the information below<br /></p>
                <p class="paragraph_style_1"><br /></p>
                <p class="paragraph_style_1"><span style="line-height: 18px; " class="style">Squaw Valley Avalanche Rescue Dog &amp; Education Fund</span><br /></p>
                <p class="paragraph_style_1"><span style="line-height: 18px; " class="style">Non-Profit 501(c)(3)  27-1117627<br /></span></p>
                <p class="paragraph_style_1"><span style="line-height: 18px; " class="style"><br /></span></p>
                <p class="paragraph_style_1"><span style="line-height: 18px; " class="style">Checks Payable to:<br /></span></p>
                <p class="paragraph_style_1"><span style="line-height: 18px; " class="style">Squaw Dogs<br /></span></p>
                <p class="paragraph_style_1"><span style="line-height: 18px; " class="style">POB 3302<br /></span></p>
                <p class="paragraph_style_1"><span style="line-height: 18px; " class="style">Olympic Valley, CA 96146  <br /></span></p>
<%= render "layouts/footer" %>