<%= render 'layouts/dog_card' %>
<%= render 'layouts/handler_image' %>
  <p style="padding-top: 0pt; " class="paragraph_style">Erik Knudson Is a ski Patroller who started as a patroller at Killington, Vermont back in 1985. Since then Erik has called Squaw Valley home.  Squaw has given Erik the opportunity to work in Val D'isere, France.  First in 1992 as ski bum and later in 94/95  as a &quot;pisteuer&quot; patroller on exchange.  During his first visit to Val D’isere, he started the towns first avalanche beacon clinic for visiting tourist. A clinic he also started in Squaw Valley for visitors and locals a like.  Mount Buller, Australia has also hosted Erik on exchange.  Other work<br />related jobs include guiding in the promise land of AK. For Alaskan Backcountry Adventures and Chugach Powder Guides. <br /></p>
                <p class="paragraph_style"><br /></p>
                <p class="paragraph_style">Erik has been a pioneer in public service.  Founder of the “Snow Gods” an annual fundraising event that helps patrollers and public alike offset the costs of avalanche education through scholarships.  Hosting Squaw Valley’s first Avalanche Dog School and introducing CARDA to America.<br /></p>
                <p class="paragraph_style"><span class="style_1"><br /></span></p>
                <p class="paragraph_style">Erik’s dog is a ten year old long hair German Shepard from a Swiss Line.  She as attained a certification from the Swiss Alpine Club and has meet the Squaw Standard for many years.  This Big Black Dog is friendly and waiting for you to come up and say hi.<br /></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style"> <br /></p>
<%= render 'layouts/footer' %>