<%= render 'layouts/dog_card' %>
<h2 class="video">Video</h2>
<div class = "embed-container">
<%= embed("https://www.youtube.com/watch?v=NiL_4YpQQrM") %>
</div>
<%= render 'layouts/handler_image' %>
<p style="padding-top: 0pt; " class="paragraph_style_1">Ben grew up in West Virginia skiing at Snowshoe Mountain before moving west after the completion of graduate school. He graduated from Marshall University with a BA in Sport Management and a MS in Exercise Physiology.<br /></p>
                <p class="paragraph_style_1"><br /></p>
                <p class="paragraph_style_1">With ten years in the ski industry, Ben started as a lift operator, before moving up to lift supervisor and bike patroller in Crested Butte, CO. He moved to Park City, UT in 2008 to begin his ski patrol career, and relocated to Truckee in 2011, joining Squaw Valley's ski patrol. <br /></p>
                <p class="paragraph_style_1"><br /></p>
                <p class="paragraph_style_1">An advocate for ongoing education, Ben seeks to improve his skills and knowledge through courses and certifications in snow science, K9 training, and emergency medicine. These include Level 1 &amp; 2 Avalanche, Outdoor Emergency Care specialist, American Heart Association CPR &amp; AED certification, California Blaster, Squaw Valley Avalanche Dog Handler, Placer County Search and Rescue team member, and Canadian Avalanche and Rescue Dog Association (CARDA) team member. Additionally, Ben and Kaya have attended two CARDA schools in Canada to train and hone their skills as a team.<br /></p>
                <p class="paragraph_style_1"><br /></p>
                <p class="paragraph_style_1">Ben is an avid outdoorsmen, who loves riding his mountain bike and playing soccer in the warmer months and skiing as much as possible in the winter. When not on his bike or skis, he also enjoys making his own hot sauce, barbecuing with friends and cheering on his favorite soccer clubs, Real Salt Lake, Liverpool, and the United States National Team. <br /></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style_1">Ben lives in Truckee, CA with his wife Susan, a former professional ski patroller and instrumental figure in Kaya's training.</p>
<%= render 'layouts/footer' %>


