<%= render 'layouts/dog_card' %>
<%= render 'layouts/handler_image' %>
<p style="padding-top: 0pt; " class="paragraph_style">Spending his whole life in Lake Tahoe, Pete has been fortunate enough to grow up skiing Squaw and now patrols there.  Joining the dog program in 2001, Pete picked up Tucker in 2003 and has trained him to the CARDA standard.  <br /></p>
                <p class="paragraph_style"><br /></p>
                <p class="paragraph_style">Co-Founder and board member of the Placer County Sheriff’s SAR Tahoe Dogs Team, Pete has played an integral part in creating this regional avalanche rescue dog team.    <br /></p>
                <p class="paragraph_style"><br /></p>
                <p class="paragraph_style">Pete earned a BS from the University of Nevada and is also a certified instructor in OEC, NSP Avalanche Level 1, Lifeguard Training, and CPR.  Pete also works with <a onclick="window.open(this.href); return false;" title="http://www.recco.com" href="http://www.recco.com" onkeypress="window.open(this.href); return false;" class="class1">RECCO </a> overseeing the training of this advanced rescue technology to ski patrols on the west coast of the US.<br /></p>
                <p class="paragraph_style"><br /></p>
                <p class="paragraph_style">Enjoying all outdoor activities, when not on the fire line in the summer, you can find Pete on the water racing sailboats or just trying to sneak in a bike ride or a round of golf with friends.<br /></p>
<%= render 'layouts/footer' %>