<%= render 'layouts/dog_card' %>
<%= render 'layouts/handler_image' %>
<p style="padding-top: 0pt; " class="paragraph_style">Working 38 seasons in ski boots, you can find Craig  in either hemisphere depending on the season.  Spending six seasons in Australia and five in Portillo, Craig brings a wealth of experience to the Dog Program at Squaw.  <br /></p>
                <p class="paragraph_style">Spending 22 years working with dogs, Craig took his first CARDA course 19 years ago.  Currently in charge of the Dog Program at Squaw, Craig has been instrumental in bringing the team to the next level.  With six certified dogs teams at Squaw Valley, Craig’s experience and guidance has shined through. <br /></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style">When not on the snow, you can find Craig on the water.  A passion for surfing, Craig has surfed all over the world. </p>
                <%= console %>
<%= render 'layouts/footer' %>