<div class="container" id="foot">
<footer class="footer">
<span class="follow">Follow us</span>
 <a href="https://www.instagram.com/squawdogs/" class="btn btn-social-icon btn-instagram">
    <span class="fa fa-instagram fa-2x"></span>
  </a>
   <a href="https://www.facebook.com/SquawDogs-181583001454/" class="btn btn-social-icon btn-facebook" >
    <span class="fa fa-facebook fa-2x"></span>
  </a>

    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>


</footer>
</div>